body{
    text-align: center;
    background-image: url("assets/background2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh;
    background-color: black;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 120%;
}

h1{
    font-family: 'Mansalva', cursive;
    font-weight: 200;
    font-size: 50px;
    text-shadow: 2px 2px 8px orangered;
    margin-bottom: 10px;
}


 fieldset {
    padding: 0;
    border: 0;
    margin: 0;
  }  

.scorecard{
    margin: auto;
    padding: 10px;    
    margin-bottom: 20px;
    margin-left: 20px;
    background-image: url("assets/scorecard.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
    width: 500px;
    height:25vh;
}
.scorecard p{
    position: relative;
    top: 60px;
    right: 40px;  
}

.questions-form{
    width: 350px;
    height: 400px;
    margin: auto;
    background-image: url("assets/question\ frame.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 20px;
}

.questions-form fieldset{
    display: block;
    position: relative;
    left: 10px;
    top: 80px;

}

@media screen and (min-width: 700px){
    .scorecard{
        margin-left: 150px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    .questions-form{
        height: 538px;
        width: 522px;
        padding: 0px;
    }
    .scorecard p{
        right: 40px;  
    }
}